extends layout
block content
   h1= title
   if (responseMessage)
      div(class="error")= responseMessage
   p Class list for #{username}:
   table(class="table")
      tr
         th SID
         th First Name
         th Last Name
      each student in students
         tr
            td= student.sid
            td= student.firstName
            td= student.lastName
