extends layout
block content
   h1= title

   div(class='errorMessage')= errorMessage

   form(action='/processRegistration',
      method='post',
      class='form')

      label(class='label row1', for='username') Username:
      input(type='text',
            id='username',
            name='username',
            placeholder='Username',
            class='control row1')

      label(class='label row2', for='pwd') Password:
      input(type='password',
            id='pwd',
            name='pwd',
            placeholder='Password',
            class='control row2')

      label(class='label row3', for='email') E-Mail:
      input(type='text',
            id='email',
            name='email',
            placeholder='E-Mail Address',
            class='control row3')

      button(type='submit',
             class='control row4') Sign Up
